<app-navbar></app-navbar>

<ul>
  <li *ngFor="let user of users">
    {{ user.username }}
  </li>
</ul>

<table>
  <tr>
    <th>boatId</th>
    <th>boatName</th>
    <th>picture</th>
    <th>lengthInFeet</th>
    <th>make</th>
    <th>description</th>
  </tr>
  <tr *ngFor="let boat of boats">
    <td>{{ boat.boatId }}</td>
    <td>{{ boat.boatName }}</td>
    <td>{{ boat.picture }}</td>
    <td>{{ boat.lengthInFeet }}</td>
    <td>{{ boat.make }}</td>
    <td [innerHTML]="boat.description"></td>
  </tr>
</table>

<router-outlet></router-outlet>
