<div class="card">
  <img [src]="boat.picture" class="card-img-top" [alt]="boat.boatName" />
  <div class="card-body">
    <h5 class="card-title">{{ boat.boatName }}</h5>
    <p class="card-text" [innerHTML]="boat.description"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ID: {{ boat.boatId }}</li>
    <li class="list-group-item">Length: {{ boat.lengthInFeet }} ft</li>
    <li class="list-group-item">Make: {{ boat.make }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
