<app-navbar></app-navbar>
<main role="main" class="flex-shrink-0">
  <div class="container" *ngIf="loggedIn == true">
    <div class="row">
      <div class="card-columns">
        <app-boat-card
          *ngFor="let boat of boats"
          [boat]="boat"
          class="col-sm-12 col-md-4"
        ></app-boat-card>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="loggedIn === false">
    <h4>
      Please log in to view this page.
    </h4>
  </div>
</main>
<app-footer class="d-flex flex-column h-100"></app-footer>
